<div class="container main">
  <h4>Login To Account</h4>
  <br>
  <%= link_to "Login with Twitter", twitter_login_path %>
  <br>
  <%= form_for(:session, url: login_path) do |f| %>
    <div class="input-field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="input-field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <%= f.submit "Login", class: "waves-effect waves-light btn darkslategray" %>
  <% end %>
  <div>
    <p>
      Don't have a login yet? Click below to create an account:
    </p>
    <%= link_to("Create Account", new_user_path, class: "waves-effect waves-light btn darkslategray") %>
  </div>
</div>
