<div class="container center-align">
  <h4 class="center-align">Admin Dashboard</h4>
  <%= link_to "View Causes", root_path, class: "btn admin-btn" %>
  <%= link_to "View Users", root_path, class: "btn admin-btn" %>
  <div class="admin-data row">
    <div class="col s12 m8 l8">
      <div class="box">
        <h5 class="center">Recent Donations</h5>
        <table>
          <thead>
            <tr>
              <th data-field="date">Date</th>
              <th data-field="amount">Amount</th>
              <th data-field="cause">Cause</th>
              <th data-field="user">User</th>
            </tr>
          </thead>
          <tbody>
            <% @donations.each do |donation| %>
              <tr id="table-row">
                <td><%= donation.created_at.to_s.split(' ').first %></td>
                <td>$<%= donation.amount %></td>
                <td><%= link_to Cause.find(donation.cause_id).title,
                        user_cause_path(Cause.find(donation.cause_id).user,
                        Cause.find(donation.cause_id))%></td>
                <td><%= User.find(donation.user_id).username %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col s12 m4 l4">
      <div class="box">
        <h5 class="center">Pending Causes</h5>
        <div class="collection">
          <% @pending_causes.each do |cause| %>
            <%= link_to cause.title, user_cause_path(cause.user, cause),
                class: "collection-item" %>
            <%= form_for([cause.user, cause]) do |f|  %>
              <%= f.hidden_field :current_status, value: 'active' %>
              <%= f.submit "Accept", class: "btn"  %>
            <% end %>
            <%= form_for([cause.user, cause]) do |f|  %>
              <%= f.hidden_field :current_status, value: 'inactive' %>
              <%= f.submit "Reject", class: "btn red"  %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
