<%= link_to user_cause_path(causes_managed.user.username, causes_managed) do %>
  <li class="card cause-managed">
    <h6 class="center"><%= causes_managed.title %></h6>
    <div class="cause-img-container col s3">
      <%= image_tag(causes_managed.image_url, class: "valign") %>
    </div>
    <div class="col s9">
      <p class="col left-align">
        <%= causes_managed.description[0..185] %>...
      </p>
    </div>
    <div class="cause-funds center">
      <p>Raised: <span> <%= causes_managed.amount_raised %></span>
      <p>Goal: <span><%= causes_managed.goal %></span></p>
    </div>
    <% unless current_user.nil? ||  current_user.oauth_token.nil? %>
      <div class="tweet-managed-cause">
        <%= link_to image_tag('/assets/twitter-128.png', class: "twitter-logo"), new_tweet_path(cause_type: "managed", cause_id: causes_managed.id) %>
      </div>
    <% end %>
  </li>
<% end %>
