<div class="container main">
  <h3>Login To Account</h3>

  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Log In", class: "waves-effect waves-light btn" %>
  <% end %>
</div>
