<div id="slider" class="slider">
  <ul class="slides">
    <li>
      <%= image_tag(@moon.image_url) %>
      <div class="caption moon right-align">
        <h3><%= @moon.title %></h3>
        <h5><%= @moon.description %></h5>
        <h5 class="light grey-text text-lighten-3">
          <%= link_to "Donate", user_cause_path(@moon.user.username, @moon), class: "btn" %>
        </h5>
      </div>
    </li>
    <li>
      <%= image_tag(@squirrel.image_url) %>
      <div class="caption squirrel left-align">
        <h3><%= @squirrel.title %></h3>
        <h5 class="squirrel-description"><%= @squirrel.description %></h5>
        <h5 class="light grey-text text-lighten-3">
          <%= link_to "Donate", user_cause_path(@squirrel.user.username, @squirrel), class: "btn" %>
        </h5>
      </div>
    </li>
    <li>
      <%= image_tag('/assets/potato-salad.jpg', id:"tater-salad-pic") %>
      <div class="caption potato right-align">
        <h3><%= @potato.title %></h3>
        <h5><%= @potato.description %></h5>
        <h5 class="light grey-text text-lighten-3">
          <%= link_to "Donate", user_cause_path(@potato.user.username, @potato), class: "btn" %>
        </h5>
      </div>
    </li>
    <li>
      <%= image_tag(@ostrich.image_url) %>
      <div class="caption ostrich right-align">
        <h3><%= @ostrich.title %></h3>
        <h5><%= @ostrich.description %></h5>
        <h5 class="light grey-text text-lighten-3">
          <%= link_to "Donate", user_cause_path(@ostrich.user.username, @ostrich), class: "btn" %>
        </h5>
      </div>
    </li>
  </ul>
</div>

<div class="container">
  <h1 class="fades">DreamBuilder</h1>
  <p>
    Here at DreamBuilder, we encourage all our dreamers to shoot for the moon - if they miss, they'll land among the stars!
  </p>
</div>

<br>

<div class="row">

  <div class="col s4">
    <div class="center promo">
      <% if current_user %>
        <%= link_to new_user_cause_path(current_user.username) do %>
          <%= image_tag('left-promo.png', class: "homepage-outer-img") %>
          <h6>Build Your Dream</h6>
          <p class="light center about-blurb">Remember when you were 4 and you wanted to ride your tricycle to the ocean? You can do that now.</p>
        <% end %>
      <% else %>
        <%= link_to new_user_path do %>
          <%= image_tag('left-promo.png', class: "homepage-outer-img") %>
          <h6>Build Your Dream</h6>
          <p class="light center about-blurb">Remember when you were 4 and you wanted to ride your tricycle to the ocean? You can do that now.</p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col s4">
    <div class="center promo">
      <%= link_to categories_path do %>
        <%= image_tag('center-promo.png', class: "homepage-outer-img") %>
        <h6>Support A Dream</h6>
        <p class="light center about-blurb">Be a hero. Make a difference. Help fellow dreamers reach never before seen heights.</p>
      <% end %>
    </div>
  </div>
  <div class="col s4">
    <div class="center promo">
      <% if current_user %>
        <%= link_to categories_path do %>
          <%= image_tag('right-promo.png', class: "homepage-outer-img") %>
          <h6>Need Inspiration? Explore A Dream</h6>
          <p class="light center about-blurb">Our community of Dreamers have over 1,000 dreams in progress. Let them drop some dream knowledge on you.</p>
        <% end %>
      <% else %>
        <%= link_to new_user_path do %>
          <%= image_tag('right-promo.png', class: "homepage-outer-img") %>
          <h6>Join The Dreamers Community</h6>
          <p class="light center about-blurb">Our Dreamers made the legendary Clapper a reality. You know you want a piece of that action.</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
