<div id="cause-card" class="card row">
  <div class="card-content white darken-1">
    <div id="cause-card-header">
      <h3 class="col s12 center-align"> <%= @cause.title %></h3>
      <% if current_user_id == @cause.user_id %>
        <span>Other Admins: <%= get_other_admins(@cause)%></span> <br>
        <span> <%= link_to "Edit Your Dream", edit_user_cause_path(@cause.user, @cause) %></span>
        <%= link_to "Delete Dream", user_cause_path(@cause.user, @cause), method: :delete %>
      <% end %>
    </div>
    <div class="cause-info-container col s8">
      <div class="cause-img-container valign-wrapper center-align">
        <%= image_tag(@cause.image_url, class: "valign") %>
      </div>
      <p>
        <%= @cause.description %>
      </p>
    </div> <!-- end of img and description column -->
    <div class="col s4 center">
      <div class="cause-stats-container center row">
        <div class="col s6">
          <p>Supporters:</p>
          <span><%= @total_supporters %></span>
          <div id="donations-received">
            <p>Donations:</p>
            <span> <%= @donation_count %> </span>
          </div>
        </div>
        <div class="col s6">
          <div id="amount-raised">
            <p>Amount Raised:</p>
            <span><%= @amount_raised %></span>
          </div>
          <p>Target Goal:</p>
          <span><%= @cause.goal %></span>
        </div>
      </div>
      <div class="input-field">
        <%= form_for(@donation) do |f| %>

          <%= render "shared/error_messages", object: f.object %>

          <%= f.label :amount %>
          <%= f.text_field :amount %>
          <%= f.hidden_field :user_id, :value => current_user_id %>
          <%= f.hidden_field :cause_id, :value => @cause.id %>
          <%= f.submit "Fund This Dream", class: "wave-effect waves-light btn light-green darken-4" %>
        <% end  %>
        <!-- <input id="donation_amount" type="text">
        <label for="donation_amount">Donation Amount ($)</label>
        <%= link_to "FUND THIS DREAM", "#", class: "btn light-green darken-4" %> -->
      </div> <!-- end of donation form -->
    </div> <!-- end of second cause card column -->
  </div> <!-- end of card content -->
</div> <!-- end of card row -->
