
<div class="container">
  <%= form_for([current_user, @cause], html: {multipart: true}) do |f| %>
    <ul>
    <% @cause.errors.full_messages.each do |error| %>
      <li> <%= error %> </li>
    <% end %>
    </ul>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :description %>
      <%= f.text_area :description, :style => "margin: 0px; width: 100%; height: 150px;" %>
      <br>
      <%= f.label :category %>
      <%= f.collection_select :category_id, Category.all, :id, :title, { prompt: "Choose a category" }, class: "browser-default" %>
      <br>
      <%= f.label :goal %>
      <%= f.text_field :goal %>

      <%= f.label :other_admins, "Add another dream admin (enter a user's email)" %>
      <%= f.text_field :other_admins %>

      <%= f.hidden_field :user_id, :value => current_user.id %>

      <%= f.label :image_url, "Link a Dream Image" %>
      <%= f.text_field :image_url %>
      <br>
      <br>

      <%= f.submit "Submit", class: "waves-effect waves-light btn" %>

  <% end %>
</div>
