<%= Gon::Base.render_data %>
<div class="container">
  <h4 class="center">Dreams By Category:</h4>
  <div class="row">
    <%= render @categories %>
  </div>
</div>

<div class="container center">
  <h3>Featured Dream</h3>
  <%= image_tag("#{@cause.image_url}", id:"cause-img-container left") %>
  <div class="center">
    <h3><%= @cause.title %></h3>
    <h6 class="center-text"><%= @cause.description %></h6>
    <h6 class="light grey-text text-lighten-3">
      <%= link_to "Donate", user_cause_path(@cause.user.username, @cause), class: "btn" %>
    </h6>
  </div>
</div>
