<!DOCTYPE html>
<html>
<head>
  <title>DreamBuilder</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat|Kameron|Unica+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">DreamBuilder</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Causes</a></li>
        <li><a href="badges.html">Login</a></li>
        <li><a href="collapsible.html">Create Account</a></li>
      </ul>
    </div>
  </nav>
<% flash.each do |type, msg| %>
  <%= content_tag :div, sanitize(msg), class: "flash_#{type} flash" %>
<% end %>

<%= yield %>
<br><br><br><br><br>
<footer class="footer-bar">
  <div class="footer-content">
    <p class="black-text text-lighten-5 footer-content hide-on-small-only">
       ...to the moon!!!!!!
    </p>
    <a href="/"><h5 class="white-text footer-content">Dream Builder</h5></a>
  </div>
  <a class="white-text footer-link" href="/about">Contact</a>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

</body>
</html>
